.rebar3
_rel
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
log
.erlang.mk
deps
egame.d
thrift-0.20.0.tar.gz
/thrift-0.20.0/